<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{title}}
  </title>
  {% if description %}
  <meta name="description" content="{{description}}" />
  {% endif %}
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <!-- <script src="/static/js/alpine-turbo-adapter.js"></script> -->
  <script src="/static/js/alpine.js"></script>
  <!-- <script src="/static/js/turbolinks.js"></script> -->
  <script src="/static/js/Tocca.min.js"></script>

  <link rel="preconnect" href="https://app.snipcart.com">
  <link rel="preconnect" href="https://cdn.snipcart.com">
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.29/default/snipcart.css" />
  <script async defer src="https://cdn.snipcart.com/themes/v3.0.29/default/snipcart.js"></script>



  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  {% block head %}{% endblock %}
</head>

<body class="bg-gray-100 font-thin min-h-screen px-2">
  {#% include "./partials/navbar.html" %#}

  <main>
    {{ content | safe }}
  </main>

  {% include "./partials/footer.html" %}

  <div hidden id="snipcart" data-api-key="YzQwZjRjOGItODdjNi00NzczLThmNWYtYjM0NWY4MDQ3MTI5NjM3MDMzNjMyMzExNjk2NzM2"
    data-config-modal-style="side" data-config-add-product-behavior="xnone">

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <script>
      const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        //  direction: 'horizontal',
        //  loop: false,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          type: 'progressbar'
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },

        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });
    </script>
    <script>
      document.addEventListener('snipcart.ready', function () {
        Snipcart.api.session.setLanguage('en', {
          header: {
            title_cart_summary: "BAG CHECK",
          },
          actions: {
            continue_shopping: "Continue looking!",
          }
        });
      });
    </script>
</body>

</html>