---
layout: default
---
<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-thin text-5xl uppercase tracking-wider">{{title}}</h1>
    </div>
    <div class="swiper-container w-full text-red-500">
        <div class="swiper-wrapper">
            {%for image in images%}
            <div class="swiper-slide w-full grid" style="height:80vh;">
            <figure class="x xtext-center swiper-slide">
                {% image image.image, image.caption, "object-fill w-full xmy-1 xlg:my-1", "(min-width: 30em) 100vw, 100vw" %}</a>  
                <figcaption class="m-0">{{image.caption}}</figcaption>  
            </figure>
            </div> 
            {%endfor%}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <article class="prose lg:prose-xl my-4 mx-auto">

          <div>{{ content | safe }}</div>

          <div class="font-thin text-xs border-t italic">
            {{ credits| md | safe }}
          </div>

    </article>

</div>
