---
layout: default
title: Macro-Sea
path: home
---

<div class="container mx-auto md:flex flex-row flex-wrap justify-between items-center content-start snap snap-x snap-mandatory">
  {% for project in collections.projects %}
    {%set index = loop.index %}
    {%for image in project.data.images %}
    <figure class="text-center mt-3 mr-3 snap-start" data-tags="{{project.data.tags}}">
          <a href="{{project.url}}"><div class="hover:filter-x">{% image image.image, image.caption, "object-fill md:max-h-40 w-auto", "(min-width: 768px) 20em,  100vw" %}</div></a>  
          <figcaption class="">{{index}}.{{loop.index}}</figcaption>  
    </figure>
    {%endfor%}
  {% endfor %}
  {% for product in collections.products%}
    {%if product.data.images[0] %}
    <figure class="text-center mt-3 mr-3">
          <a href="{{product.url}}">
            <div class="hover:filter-x">{% image product.data.images[0].image, product.data.images[0].caption, "object-fill md:max-h-40 w-auto", "(min-width: 768px) 20em, 100vw" %}</div></a>  
          <figcaption class="">${{product.data.price}}</figcaption>
    </figure>
    {%endif%}
  {% endfor %}

  {%for i in range(1,4) %}
    <i aria-hidden class="x invisible border-red-200 border-2 w-1/5"> </i>
  {% endfor %}
</div>
