---
layout: default
title: Macro-Sea
path: scratch
---
<%

%>
<div class="container mx-auto grid grid-cols-3">
    <div class="w-20 h-20 border"><%-  JSON.stringify( helpers.collectionTags(collections.projects,collections) ) %></div>  
</div>